.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: $offWhite;
  width: 105vw;
  display: flex;
  flex-flow: column;
  align-items: center;

}

.socialLinks {
  margin: 3em;
}