.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: $offWhite;
  width: 105vw;
  padding: 0 30%;

}

.socialLinks {
  margin: 3em;
}