// .btn {
//   width: auto;
//   margin: 0;
//   padding: 0 .5em;
//   margin-bottom: .5em !important;
//   overflow: hidden;
// }

.revealPushOut {
  background: rgba($secondary-color, .3) !important;
  color: $offWhite;

  .span {
    display: block;
    transition: transform .4s;
  }

  &:hover .span,
  &:focus .span {
    transform: translateX(150%);
  }

  .icon {
    transition: transform .4s;
  }

  &:hover .icon,
  &:focus .icon {
    transform: translateX(800%);
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    transition: .4s;
    transform: translateX(-100%);
    color: $primary-color;
    background: rgba($secondary-color, .85) !important;
    font-weight: bold
  }

  &:hover::before,
  &:focus::before {
    transform: translateX(0%);
  }
}

.fallDown {
  // background: $secondary-color;
  color: $primary-color;
  padding: 12px 10px 10px;
  text-shadow: 0 0 3px $secondary-color;
  font-weight: 700;
  margin-bottom: 2em;
  font-size: ms(1);

  &::before,
  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #566473;
    content: '';
    transition: transform 0.3s;
    transform: scale(0.85);
  }

  &::after {
    opacity: 0;
    transition: top 0.3s, opacity 0.3s, transform 0.3s;
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    transform: scale(1);
  }

  &:hover::after,
  &:focus::after {
    top: 0%;
    opacity: 1;
  }
}
