.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 85%;

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    width: 65%;
  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    width: 60%;
  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}

.header {

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}

.title {
  text-align: center;
  color: $primary-color;
  font-family: $oswald;
  font-size: ms(2);
  text-shadow: 0 0 2px $secondary-color;
  margin: 0 0 1px;

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}

.pitch {

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}

.ctaBtn {
  background: $secondary-color;
  color: $primary-color;

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    padding: 2px 10px;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 98%;
      height: 95%;
      border: 3px solid $secondary-color;
      content: '';
      transition: transform .5s, opacity .5s;
    }

    &::after {
      border-color: $primary-color;
      opacity: 0;
      transform: translateY(-7px) translateX(6px);
    }

    &:hover::before,
    &:focus::before {
      opacity: 0;
      transform: translateY(5px) translateX(-5px);
    }

    &:hover::after,
    &:focus::after {
      opacity: 1;
      transform: translateY(0px) translateX(0px);
    }
  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}
