.nav {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;


  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 60%;

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    width: 35%;
  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}

.socialLink {
  width: auto;
  margin: 0;
  padding: 0 .5em;
  background: rgba($secondary-color, .3) !important;
  color: $offWhite;
  margin-bottom: .5em !important;

  overflow: hidden;

  .span {
    display: block;
    transition: transform .4s;
  }

  &:hover .span,
  &:focus .span {
    transform: translateX(150%);
  }

  .icon {
    transition: transform .4s;
  }

  &:hover .icon,
  &:focus .icon {
    transform: translateX(800%);
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: attr(data-hover);
    transition: .4s;
    transform: translateX(-100%);
    color: $primary-color;
    background: rgba($secondary-color, .85) !important;
    font-weight: bold
  }

  &:hover::before,
  &:focus::before {
    transform: translateX(0%);
  }

  &:last-child {
    margin-bottom: 0 !important;
  }

  // &:hover {
  //   color: $contrast;
  //   background: rgba($secondary-color, .8) !important;
  // }

  @media (min-width:20em) {
    /* smartphones, iPhone, portrait 480x320 phones */

  }
  @media (min-width:30.063em) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

  }
  @media (min-width:40.063em) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

  }
  @media (min-width:60.063em) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    margin: 0;
  }
  @media (min-width:64.063em) {
    /* big landscape tablets, laptops, and desktops */

  }
  @media (min-width:80.063em) {
    /* hi-res laptops and desktops */

  }
}

